.App {
  text-align: center;
}
button {
  background-color: white;
  border: 3px solid rgb(218, 218, 218);
  margin: 20px 5px 0px 0px;
  cursor: pointer;
  animation:alternate-reverse;  
  transition: 1s;
}
button:hover {
  background-color: black;
  color: white;
}
.tab-div{
  display: inline-block;
}
.show-div{
  border: 3px solid red;
  margin: 0 auto;
  width:fit-content;
  margin-top: 2rem;
  height:fit-content;
  background-color: yellow;
  padding: 100px 50px;
}
